<!-- Registration Page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Register Page</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>
	
	<img src="../resources/img/beproudcapaabanner.jpg" class="img-fluid" alt="Registration Page Banner for CU Football">
    <br>
	<br>
	<div class="container">
		<form method = "post" action = "home.html">
			<h2> Registration </h2>
			<hr>
			<div class = "form-group">
				<label for = "name">Name</label>
				<input class = "form-control" type = "text" name = "name" id = "name" placeholder="Enter your name">
			</div>
			<div class = "form-group">
				<label for = "email">Email</label>
				<input class = "form-control" type = "email" name = "email" id = "email" placeholder="Enter your email address">
			</div>
			<div class = "form-group">
				<label for = "password">Password</label>
				<input class = "form-control" type = "password" name = "password" id = "password" placeholder="Enter a password">
			</div>
			<div class = "form-group">
				<label for = "cpassword">Confirm password</label>
				<input class = "form-control" type = "password" name = "cpassword" id = "cpassword" placeholder="Confirm your password">
			</div>
			<div class = "form-group">
				<label for = "alumni">CU Alumni?</label>
				<div>
					<div class = "radio">
						<label><input type = "radio" name = "alumni" value = "y"> Yes </label>
					</div>
					
					<div class = "radio">
						<label><input type = "radio" name = "alumni" value = "n"> No </label>
					</div>
				</div>
			</div>

			<div class = "form-group">
				<label>CU Student?</label>
				<div>
					<div class = "radio">
						<label><input type = "radio" name = "student" value = "y"> Yes </label>
					</div>
					
					<div class = "radio">
						<label><input type = "radio" name = "student" value = "n"> No </label>
					</div>
				</div>
			</div>

			<div class = "form-group">
				<label for = "alumni">Student Status</label>
				<div class = "justify-content-left">
					<div class = "radio">
						<label><input type = "radio" name = "alumni" value = "undergrad"> Undergrad </label>
					</div>
					<div class = "form-group">
						<label for= "uselect"> Select Status </label>
						<select class = "form-control" id = "uselect">
							<option> Freshman </option>
							<option> Sophomore </option>
							<option> Junior </option>
							<option> Senior </option>
						</select>

					</div>

					<div class = "radio">
						<label><input type = "radio" name = "alumni" value = "grad"> Graduate </label>
					</div>

					<div class = "form-group">
						<label for= "gselect"> Select Status </label>
						<select class = "form-control" id = "gselect">
							<option> MA </option>
							<option> MBA </option>
							<option> PhD </option>
						</select>
					</div>

				</div>
			</div>

			<button type = "submit" class = "btn btn-primary">Submit</button>
		</form>
	</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
